---
import Layout from '../layouts/Layout.astro';
import CompanyDescription from '../components/CompanyDescription.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <Header />
    <HeroSection />
    <CompanyDescription />
	</main>
</Layout>
