<!-- CompanyDescription.astro -->

<section class="company-description" id="explore">
  <div class="company-content">
    <h2>Unleash the Power of Digital Excellence with Hezarfen Industry</h2>
    
    <ul>
      <li>Master social media platforms like Instagram, Facebook, LinkedIn, and TikTok to captivate your audience.</li>
      <li>Create stunning websites and catalogs that leave a lasting impression on your visitors.</li>
      <li>Define your brand's identity with carefully crafted brand books, impactful visit cards, and resonant logos.</li>
      <li>Be our strategic partner for global expansion, reaching audiences across the CIS, Europe, and beyond.</li>
      <li>Navigate international platforms effortlessly with our support for registrations on OLX, Amazon, and more.</li>
      <li>Boost visibility with robust SEO implementation, ensuring your brand stands out in the digital crowd.</li>
      <li>Elevate your marketing strategy with targeted campaigns and efficient chatbots for seamless customer interactions.</li>
      <li>Integrate telephony solutions for direct customer connections, enhancing your brand's accessibility.</li>
      <li>Stay ahead of the curve with our web analytics, providing valuable insights for informed decision-making.</li>
    </ul>

    <p>At Hezarfen Industry, we offer more than services; we provide a strategic roadmap for your brand's digital journey. Join us, and let's shape the future of your digital success together.</p>
  </div>
</section>

<style>  
  .company-description {
    padding: 80px 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .company-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .company-content h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
  }
  
  .company-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .company-content li {
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 15px;
    position: relative;
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeInLeft 1s forwards;
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .company-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 30px;
  }
  @media only screen and (max-width: 600px) {
    .company-description {
      padding: 30px 20px; /* Further adjusted padding for smaller screens */
    }
  }
</style>